
.portfolio-banner{
    background: url(../images/portfolio-page.gif);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h1{
    font-size: 50px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
   
}
.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.gallery_product:hover .image {
  opacity: 0.3;
}

.gallery_product:hover .middle {
  opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}





@media only screen and (max-width: 600px) {
     .portfolio-banner{
    height:200px;
    
}
    .hero-text h1{
    font-size: 20px;
}
.hero-text {
    top: 27%;
}
@media only screen and (min-width: 480px) {
     .portfolio-banner{
    
    background-size: cover!important;
   }

}
.hero-text p{
    font-size: 10px;
}
} 

@media only screen and (min-width: 600px) {
 
     .portfolio-banner{
    height:300px; 

   }
    .hero-text h1{
    font-size: 27px;
}
.hero-text {
    top: 32%;
}
.hero-text p{
    font-size: 12px;
}

} 

@media only screen and (min-width: 768px) {
.portfolio-banner{
    height:400px; 
   }
    .hero-text h1{
    font-size: 35px;
}
.hero-text p{
    font-size: 12px;
}
.
.hero-text {
    top: 37%;
}
} 

@media only screen and (min-width: 992px) {
    .portfolio-banner{
    height:500px; 
   }
    .hero-text h1{
    font-size: 40px;
}
.hero-text p{
    font-size: 14px;
}

.hero-text {
    top: 43%;
}
} 
@media only screen and (min-width: 1200px) {
   .portfolio-banner{
    background-size: cover!important;
    height:500px; 
   }
   .hero-text h1{
    font-size: 52px;
}
.hero-text p{
    font-size: 16px;
}
.hero-text {
    top: 50%;
}
}